.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: contain;
}

.col {
  flex: 1;
  /* additionally, equal width */

  padding: 1em;
  border: solid;
}

.bg-green {
  color: green;
}

.bg-red {
  color: red;
}
